# Dependencies
node_modules/
**/node_modules/
.node/

# Next.js
.next/
**/out/

# Hardhat/Solidity compilation artifacts
artifacts/
**/artifacts/
cache/
**/cache/
typechain-types/
**/typechain-types/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# OS files
.DS_Store
Thumbs.db
